@model string

 @{
    var url = $"/OAuth/Authorize{Model}";
    } 

<form action="/OAuth/Authorize" method="post">
    <input type="text" name="username" value="" />
    <input type="submit"  value="Submit" />
</form>