<h1>
    Home Page
</h1>

<button onclick="signIn()">Sign In</button>

<script src="~/js-old/sign-in.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.11.3/oidc-client.min.js" integrity="sha512-953+dfaZNOJGyLKjdokFbpVSyTQ8yQxecCEacFvLcDh3/4SODR5QnaTQsRn/5MXKClOYOxL252+HUM1rmpctDg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
<script src="~/main.js"></script>

